@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
    var config = new ViewConfiguration()
    {
        SaveAction = Url.Action("SaveProduct", "Home"),
        ContainerName = "productManagement",
        GetAddress = Url.Action("GetProducts", "Home"),
        FormId = "frm",
        TableName = "tbl",
        ViewTabName = Guid.NewGuid().ToString("N"),
        InputTabName = Guid.NewGuid().ToString("N")
    };
}

<h2>Ürün Yönetimi</h2>
<div id="@config.ContainerName">
    <div class="row" data-bind="slideIn:inputVisible">
        <div class="col-md-12">
                <div class="panel" data-bind="css:headerClass">
                    <div class="panel-heading">
                        <strong data-bind="text:panelHeader"></strong>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs" id="@config.InputTabName">
                            <li class="active">@Html.TabButton("tab1", "Genel Bilgiler")</li>
                            <li>@Html.TabButton("tab2", "Ek Bilgiler")</li>
                        </ul>
                        <form id="@config.FormId" action="@config.SaveAction" method="POST">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="col-md-6">
                                        @Html.InputFormControl("Ürün Adı", "name")
                                        @Html.InputFormControl("Fiyat", "price")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.SelectControl("Ürün Türü", i => i.CategoryId)
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="col-md-6">
                                        @Html.InputFormControl("Stok", "stock")
                                        @Html.InputFormControl("Şirket", "company")
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    @Html.NewPanelFooter()
                </div>
        </div>
    </div>
    <div class="row" data-bind="slideIn:detailVisible">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong data-bind="text:panelHeader"></strong>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs" id="@config.ViewTabName">
                        <li class="active">@Html.TabButton("etab1", "Genel Bilgiler")</li>
                        <li>@Html.TabButton("etab2", "Ek Bilgiler")</li>
                    </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="etab1">
                                <div class="col-md-6">
                                    @Html.InputFormControl("Ürün Adı", "name", true)
                                    @Html.InputFormControl("Fiyat", "price", true)
                                </div>
                                <div class="col-md-6">
                                    @Html.InputFormControl("Ürün Türü", "category", true)
                                </div>
                            </div>
                            <div class="tab-pane" id="etab2">
                                <div class="col-md-6">
                                    @Html.InputFormControl("Stok", "stock", true)
                                    @Html.InputFormControl("Şirket", "company", true)
                                </div>
                            </div>
                        </div>
                </div>
                @Html.UpdatePanelFooter()
            </div>
        </div>
    </div>
    <div class="row" data-bind="slideIn:tableVisible">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong> Ürünler</strong>
                    @Html.NewRecordButton()
                </div>
                <div class="panel-body">
                    @Html.DataTable(config)
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var binding = '@Html.ViewInitializer(config)';
        var vm = cevsis.Binding.initialize(binding);

        vm.afterSuccess = function (data) {
            if (data)
                cevsis.Notify.Success("Kayıt başarılı");
        }

        $(document).ready(function () {
            
        });
    </script>
}
